<div class="sb-modal modal fade" id="editTopic" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <center>
                <h1>Edit Topic</h1>
				<%= render 'form', topic: @topic %>
				<br><br>
				<%= link_to 'Show', @topic %> |
				<%= link_to 'Close', @topic %>
				<br><br>
            </center>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
		$("#editTopic").modal('show');
		$("#editTopic button a").css('color', 'white');
		$("#editTopic input[type=text], #editTopic textarea").addClass('form-control');
		$(".form-control").css('width', '20em');
	});
</script>